<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AltaNoticia</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaAlojamiento</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaAlojamiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaCiudad</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaCiudad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaEvento</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaExcursion</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaExcursion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaHabitacion</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaHabitacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaLugarDeInteres</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaLugarDeInteres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaSitioParaComer</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaSitioParaComer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaTemporada</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaTemporada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaTipoHabitacion</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaTipoHabitacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaEstado</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaReserva</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaViaje</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaViaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaVisita</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaVisita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Puntaje</servlet-name>
        <servlet-class>turismo.entidades.Puntaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaPuntaje</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaPuntaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscar</servlet-name>
        <servlet-class>turismo.controlador.servlet.buscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaProvincia</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaProvincia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaPais</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaPais</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaTipoDocumento</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaTipoDocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaBarrio</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaBarrio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaDomicilio</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaDomicilio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaObservacion</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaObservacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaCliente</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaContacto</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaTipoContacto</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaTipoContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaCategoriaRestaurante</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaCategoriaRestaurante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaTipoDeComida</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaTipoDeComida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaTipoEvento</servlet-name>
        <servlet-class>turismo.controlador.servlet.AltaTipoEvento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AltaNoticia</servlet-name>
        <url-pattern>/AltaNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaAlojamiento</servlet-name>
        <url-pattern>/AltaAlojamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaCiudad</servlet-name>
        <url-pattern>/AltaCiudad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaEvento</servlet-name>
        <url-pattern>/AltaEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaExcursion</servlet-name>
        <url-pattern>/AltaExcursion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaHabitacion</servlet-name>
        <url-pattern>/AltaHabitacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaLugarDeInteres</servlet-name>
        <url-pattern>/AltaLugarDeInteres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaSitioParaComer</servlet-name>
        <url-pattern>/AltaSitioParaComer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaTemporada</servlet-name>
        <url-pattern>/AltaTemporada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaTipoHabitacion</servlet-name>
        <url-pattern>/AltaTipoHabitacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaEstado</servlet-name>
        <url-pattern>/AltaEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaReserva</servlet-name>
        <url-pattern>/AltaReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaViaje</servlet-name>
        <url-pattern>/AltaViaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaVisita</servlet-name>
        <url-pattern>/AltaVisita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Puntaje</servlet-name>
        <url-pattern>/Puntaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaPuntaje</servlet-name>
        <url-pattern>/AltaPuntaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscar</servlet-name>
        <url-pattern>/buscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaProvincia</servlet-name>
        <url-pattern>/AltaProvincia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaPais</servlet-name>
        <url-pattern>/AltaPais</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaTipoDocumento</servlet-name>
        <url-pattern>/AltaTipoDocumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaBarrio</servlet-name>
        <url-pattern>/AltaBarrio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaDomicilio</servlet-name>
        <url-pattern>/AltaDomicilio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaObservacion</servlet-name>
        <url-pattern>/AltaObservacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaCliente</servlet-name>
        <url-pattern>/AltaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaContacto</servlet-name>
        <url-pattern>/AltaContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaTipoContacto</servlet-name>
        <url-pattern>/AltaTipoContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaCategoriaRestaurante</servlet-name>
        <url-pattern>/AltaCategoriaRestaurante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaTipoDeComida</servlet-name>
        <url-pattern>/AltaTipoDeComida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaTipoEvento</servlet-name>
        <url-pattern>/AltaTipoEvento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
